<header id="masthead" class="site-header" role="banner">

	<div class="header-wrapper">

		<div class="outer-pad">

			<div class="site-branding">
				<h1 class="site-title"><a href="/" rel="home">
					<img src="<%= image_path('logo.png') %>" alt="">
				</a></h1>
				
			</div><!-- .site-branding -->

			<div class="site-description inner-pad">

				<div class="boxy two-thirds">
					
					<p class="bold">There’s nothing worse than...</p>

					<p class="bold">... pouring your heart and soul into a job application – and getting<br>
					crickets in reply. </p>

					<p class="bold">... feeling stuck in networking conversations – knowing the<br>
					untapped resources that you could use if only you knew HOW.</p>

					<p class="bold">... losing hope that you’ll ever land that dream job – or make the<br>
					income you deserve. </p>

					<p>If you’ve struggled with these challenges, you’re not alone.</p>

				</div>

			</div>

		</div> <!-- outer-pad -->

	</div>

	<div class="concrete outer-pad">
		<div class="site-introduction inner-pad header-pad ">
			<p><em>Did you know that more than 80% of job openings are not posted?  (Translation: If<br>
			your job-hunting strategy is to apply for jobs online, you’re only reaching 20% of the<br>
			job market, if that.)</em></p>

			<p>Worse, when you apply for a position in that 20% category, talent software often<br>
			screens HALF of the incoming applications before they make it to a real person!</p>

			<p><strong>It’s no wonder creating your dream career is harder than ever.</strong></p>

			<p>The good news is: it doesn’t have to be. </p>
		</div>
	</div>

</header><!-- #masthead -->